# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
env/
venv/
.venv/
.idea/
.vscode/

# Ignore Streamlit cache
.streamlit/

# Ignore OS temp files
.DS_Store
Thumbs.db

# Ignore build directories
dist/
build/

# Avoid accidental large files
*.log
*.conda
*.yaml
